.App{
  min-height: 100vh;
  min-width: 100vh;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}
.userInfo {
  text-align: left;
}

.userSearchButtonContainer{
  display: inline-block;
  padding-left: 1rem;
}

.logoutButton{
  padding: 1rem;
}

.error{
  color: red;
  font-size: calc(5px + 2vmin);
}
.login{
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


